name: Coverage

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  coverage:
    name: Coverage for ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu"]
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.8"
          cache: "pip"
          cache-dependency-path: "build.requirements.txt"

      - name: Set up Rust
        run: rustup show
      
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov

      - uses: Swatinem/rust-cache@v2
        with:
          key: coverage-cargo-${{ matrix.os }}
        continue-on-error: true

      - name: Run coverage
        run: make coverage

      - uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage.lcov,coverage.xml
          name: ${{ matrix.os }}
          fail_ci_if_error: true