name: Test-Python

on:
  push:
    branches:
      - master
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:
  test-python:
    name: Build and test Python
    strategy:
      matrix:
        python-version: [ "3.8" ]
        os: [ "ubuntu-latest" ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python

        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up Rust
        run: rustup show

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: shared-${{ matrix.os }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r build.requirements.txt
      - name: Run formatting checks
        run: |
          black --check .
          isort --check .  --profile black
          cargo fmt --all -- --check
      - name: Run linting
        run: |
          flake8 --ignore E501,F401,F403,W503
      - name: Run tests
        run: |
          export RUSTFLAGS="-C debuginfo=0"
          make venv
          source venv/bin/activate
          maturin develop
          make pytest-cov
          cargo clippy