name: Test-Python

on:
  push:
    branches:
      - master
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-python:
    name: Build and test Python
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.8" ]
    steps:
      - uses: actions/checkout@v3
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: rustfmt, clippy
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r build.requirements.txt
      - name: Run formatting checks
        run: |
          black --check .
          isort --check .  --profile black
          cargo fmt --all -- --check
      - name: Run linting
        run: |
          flake8 --ignore E501,F401,F403
      - name: Run tests
        run: |
          export RUSTFLAGS="-C debuginfo=0"
          make make_venv
          source venv/bin/activate
          maturin develop
          make pytest-cov
          cargo clippy